body {
        font-family: Arial, sans-serif;
        background: #0f1e2e;
        color: #fff;
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    #app {
        background: #14273d;
        padding: 20px;
        border-radius: 10px;
        max-width: 500px;
        width: 100%;
        box-shadow: 0 0 15px #000;
        transition: 0.5s;
    }

    button {
        width: 100%;
        padding: 12px;
        margin-top: 10px;
        background: #1e90ff;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 6px;
        font-size: 16px;
        transition: 0.5s;
    }
    button:hover { background: #63b3ff; }

    .question { font-size: 18px; margin-bottom: 15px; }

    .progress {
    width: 100%;
    height: 12px;
    background: #00101f;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #1e90ff, #6bb6ff);
    transition: width 0.4s ease-in-out;
}

    .result {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        background: #0b1a28;
        border-radius: 10px;
    }
