body {
    background: linear-gradient(#0b1e36, #102b48);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.plane-fly {
    position: absolute;
    top: 10px;
    left: -600px; 
    width: 50px; 
    opacity: 0.9;
    animation: flyAcross 15s linear infinite;
}

@keyframes flyAcross {
   from { right: -60px; top: 20px; opacity: 0.1; }
        to { right: 520px; top: 0px; opacity: 0.4; }
    }

#quiz-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

#progress-wrapper {
    width: 100%;
    height: 25px;
    background: rgba(255,255,255,0.2);
    border-radius: 50px;
    margin-bottom: 20px;
    position: relative;
}

#progress-bar {
    height: 100%;
    background: #3aa6ff;
    width: 0%;
    border-radius: 50px;
    transition: width 0.3s ease;
}

#progress-text {
    position: absolute;
    right: 12px;
    top: 4px;
    color: white;
    font-weight: bold;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background: #3aa6ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #6bc3ff;
}

#gauges-section {
    margin-top: 40px;
    text-align: center;
}

#gauges {
    display: flex;
    justify-content: center;
    gap: 20px;
}
